body{
	/*background-color: darkgrey;*/
	font-family: verdana;
}

div{
	font-family: Helvetica;
}

.caption{
	font-family: sans-serif;
	color: darkgreen;
}

.common{
	position: absolute;
}

.footer{
	bottom: 5px;
	left: 5px;
	right: 5px;
	height: 10px;
	font-size: 8px;
	color: lightslategray;
	text-align: center;
	position: fixed;}

.header{
	top: 5px;
	left: 5px;
	right: 5px;
	height: 100px;
	z-index: 2;
	border-bottom: solid 1px darkgrey;
}

.mainbody{
	top: 114px;
	left: 5px;
	right: 5px;
	bottom: 64px;
}

.subheader{
	float: right;}


.bg {
  background-image: url('../images/wood.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
